<div class="row well client">

<h1 class="text-center">Add client to $stylist.getName()</h1>

<form action="/client" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="$stylist.getId()">

  <div class="form-group">
    <label for="name">ENTER CLIENT NAME</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">ADD CLIENT</button>
</form>
</div>
