<h1>Client list!</h1>

#if ($stylist.getClients())
  <ul>
    #foreach ($client in $stylist.getClients())
      <li>$client.getName()</li>
<a href="/client/$client.getId()/update">Update Client</a>
<a href="/client/$client.getId()/delete">Delete Client</a>
    #end
  </ul>
#else
  <p>No clients!</p>
#end

