<h1 class="text-center">$stylist.getName()</h1>

<div class="row well">
<h1><a href="/stylist/$stylist.getId()/client/new">ADD CLIENT</a></h1>
</div>
<div class="row">
<h2 class="text-center">MY CLIENTS</h2>
<ol>
#foreach($client in $stylist.getClients())
<li><a href="/stylist/$stylist.getId()/clients/$client.getId()">$client.getName()</a></li>
#end
</ol>
</div>
